.main-chat__message-list__message{"data-message-id": "#{message.id}"}
  .main-chat__message-list__message__top
    %p.main-chat__message-list__message__top__name
      = message.user.name
    %p.main-chat__message-list__message__top__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main-chat__message-list__message__bottom
    - if message.content.present?
      %span.main-chat__message-list__message__bottom__text
        = message.content
    = image_tag message.image.url, class: 'main-chat__message-list__message__bottom__image' if message.image.present?
